body {
    font-family: 'Spectral', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('IMG_0728.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.content {
    max-width: 80%; 
    min-width: 300px;
    text-align: center; 
    font-family: 'Spectral', serif; 
    font-size: 18px;
    color: antiquewhite;
    /* font-weight: 200; */

}


h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 72px;
    color: antiquewhite;
}

/* .container {
    background-color: rgba(150, 150, 150, 0.05);
    backdrop-filter: blur(5px);
    padding: 120px;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
} */

.container {
    background-color: rgba(150, 150, 150, 0.05);
    padding: 40px; /* Adjust padding as needed */
    margin: 50px; /* Adjust margin as needed */
    border-radius: 30px; /* Rounded corners to make the edges less sharp */
    backdrop-filter: blur(3px); /* Initial blur of 5px */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); Optional: Add a shadow for more contrast */
    position: relative;
    overflow: hidden;
}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(1px);
    z-index: -1;
}